/* import external font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap')

/* color palette based on bootstrap color palette (because i am not creative) */
$primary: #0d6efd
$secondary: #6c757d
$light: #f8f9fa
$white: #FFF
$black: #000

body
	font-family: 'Poppins', sans-serif
	margin: 0
	padding: 0