/* import external font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap')

/* color palette based on bootstrap color palette (because i am not creative) */
$primary: #0d6efd
$secondary: #6c757d
$light: #f8f9fa
$white: #FFF
$black: #000

/* media breakpoint values based on bootstrap media breakpoint values (see above lack of creativity) */
$sm: 576px
$lg: 992px

/* block-element modifiers utilised in the entire document */
.flex
	display: flex
	flex-wrap: wrap
	height: 100%
	width: 100%

.flex-col
	display: flex
	flex-direction: column
	height: 100%
	width: 100%

body
	font-family: 'Poppins', sans-serif
	margin: 0
	padding: 0

	header
		background: $primary
		height: 100px

		.header-logo
			padding: 10px 0 10px 5vw

			.logo
				height: 80px

	main
		height: 100%

		.filter-container
			width: 20%

			.filter-menu
				left: 5rem
				padding-left: 20%
				position: sticky
				width: 80%
				top: 2rem

				label
					padding-top: 2rem

				.radio-group
					width: 50%

				.button-group
					padding-top: 5rem
					width: 100%

					button
						width: 45%
						margin: auto

		.content-container
			width: 80%

			.item
				background: $secondary
				display: flex
				flex-direction: column
				margin: 5%
				width: 90%

				@media (min-width: $sm)
					margin: 5%
					width: 40%

				@media (min-width: $lg)
					margin: 2.5%
					width: 20%

				.item-image-container
					position: relative

					.item-image
						height: 100%
						width: 100%
						object-fit: cover

					.item-image-left-overlay
						top: 5%
						left: 10%
						position: absolute

						img
							height: 30px

					.item-image-right-overlay
						top: 5%
						right: 10%
						position: absolute

						img
							height: 30px

				.item-title-container
					text-align: center
					padding: 2.5%
					margin: auto

					.item-title
						height: 100%
						display: block
						vertical-align: center

				.item-button-container
					display: flex
					padding: 5%

					.item-button
						align-self: end
						background: $primary
						color: $white
						text-decoration: none
						padding: 2.5%
						text-align: center
						width: 40%
						margin: auto

	footer
		background: $primary
		height: 100px

		.language-select-container
			align-self: center
			padding-left: 5vw

.navigation
	align-self: center
	margin-left: auto
	padding-right: 5vw

	.navigation-link
		color: $black
		padding: 0 1.5vw
		text-decoration: none

@media screen and (min-width: $sm)
	body
		header
			height: 160px

			.header-logo
				padding: 10px 0 10px 5vw

				.logo
					height: 140px

		footer
			align-content: center
			height: 200px

@media screen and (min-width: $lg)
	body
		margin-bottom: 300px

		header
			height: 240px

			.header-logo
				padding: 20px 0 20px 5vw

				.logo
					height: 200px

		footer
			bottom: 0
			height: 300px
			position: fixed
			width: 100%